/* Header, Body and Footer Layout */

$navbarPrimaryMinHeight: 75px;
$footerMinHeight: 60px;
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footerMinHeight + 40px;
}

.navbar-primary {
  min-height: $navbarPrimaryMinHeight;
  z-index: 9999;
  
  .container {
    .navbar-brand {
      .navbar-logo {
        max-height: $navbarPrimaryMinHeight - 10px;
        max-width: 200px;
        margin-top: 2.5px;
      }
    }
    #header-nav-body {
      margin-top: 20px;
    }
  }
}

.main-container {
  margin-top: $navbarPrimaryMinHeight + 20px;
}

.footer {
  z-index: 9999;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  min-height: $footerMinHeight;
  // line-height: $footerMinHeight; /* Vertically center the text there */
  background-color: #222;
  .navbar {
    margin-bottom: 0;
    border: 0;
  }
}

/* Carousel */
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
$carouselHeight: 100px;


/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: $carouselHeight;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: $carouselHeight;
}

/* Testimonial Carousel */
#testimonial-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
  /* Control buttons  */
  .carousel-control {
    background: none;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
  }
  /* Previous button  */
  .carousel-control-prev {
    left: -12px;
  }
  /* Next button  */
  .carousel-control-next {
    right: -12px !important;
  }
  /* Changes the position of the indicators */
  .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
    /* Changes the color of the indicators */
    li {
      background: #c0c0c0;
    }
    .active {
      background: #333333;
    }
  }
  img {
    width: 250px;
    height: 100px
  }
}

.carousel-item blockquote {
  border-left: none;
  margin: 0;
  img {
    margin-bottom: 10px;
  }
  p:before {
    content: '"'; // content: "\f10d";
    font-size: 3.0rem; // font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
    margin-top: -10px;
  }
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}