// Region Headers
$navbarPrimaryMinHeight: 75px;
$footerMinHeight: 60px;
$mainContainerTopSpacing: 20px;
$pageTitleBarHeight: 100px;
$testimonialCarouselHeight: 100px;

// Color Scheme
$gfg_green_color1: #337F0E;
$gfg_green_color2: #9AFF6A;
$gfg_green_color3: #66FF1D;
$gfg_green_color4: #4d7f35;
$gfg_green_color5: #52CC17;

// Colors
$linkColors: orangered;